@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  list-style: none;
  text-decoration: none;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
  background-color: #8f2d2d;
  border-right: 1px solid #fefefe;
}

.Main {
  height: 100%;
  width: 100%;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Пользователь */

.User {
  display: flex;
  align-items: center;
  padding: 14px;
  justify-content: space-around;
  border-bottom: 1px solid #fefefe;
  color: #fefefe;
}
.User .logo img {
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid #fefefe;
}
.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}
.User .info a {
  color: #fefefe;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
}
.User .info a:hover {
  color: #c77c7c;
  transition: all 300ms ease;
}

/* Модальное окно */

.Modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #fcfcfc;
}

.AddNewTodo {
  border-bottom: 1px solid #fefefe;
  padding: 1rem;
}
.AddNewTodo .btn {
  width: 100%;
  height: 40px;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fefefe;
  color: black;
  cursor: pointer;
}
.AddNewTodo .btn button:hover {
  transition: all 300ms ease;
  background-color: #c77c7c;
  color: #fcfcfc;
}

/* Форма для добавления задачи */

.AddNewTodo form {
  padding: 1rem 1rem calc(1rem + 50px) 1rem;
  width: 500px;
  background-color: #fcfcfc;
}
.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.7rem;
  border: none;
  font-size: 1.2rem;
}
.AddNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid #8f2d2d;
}
.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.7rem;
}
.AddNewTodo form p {
  margin-left: 10px;
}
.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.AddNewTodo form .pick-day,
.AddNewTodo form .pick-time {
  padding: 0 1.5rem 1rem 1.5rem;
}
.AddNewTodo form .pick-project {
  padding: 0.7rem;
}
.AddNewTodo form .pick-project .projects {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
}
.AddNewTodo form .pick-project .projects .project {
  border: 1px solid #8f2d2d;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}
.AddNewTodo form .pick-project .projects .active {
  color: #fcfcfc;
  background-color: #8f2d2d;
}
.AddNewTodo form .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.AddNewTodo form .confirm button {
  width: 100%;
  height: 48px;
  background-color: #8f2d2d;
  color: #fcfcfc;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
/* Календарь */
.Calendar {
  padding: 1rem;
  border-bottom: 1px solid #fefefe;
}
.Calendar .header {
  display: flex;
  align-items: center;
}
.Calendar .header .title {
  color: #fcfcfc;
  display: flex;
  align-items: center;
  flex: auto;
}
.Calendar .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}
.Calendar .header .btns span {
  color: #fcfcfc;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.Calendar .header .btns span:hover {
  background-color: #c77c7c;
  transition: all 300ms ease-in-out;
}
.Calendar .items {
  color: #eccbcb;
  padding: 0.5rem;
}
.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}
/* Проекты */
.Projects {
  padding: 1rem;
  border-bottom: 1px solid #fefefe;
}
.Projects .header {
  display: flex;
  align-items: center;
}
.Projects .header .title {
  color: #fcfcfc;
  display: flex;
  align-items: center;
  flex: auto;
}
.Projects .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}
.Projects .header .btns {
  display: flex;
  align-items: center;
}
.Projects .header .btns span {
  color: #fcfcfc;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.Projects .header .btns span:hover {
  background-color: #c77c7c;
  transition: all 300ms ease-in-out;
}
.Projects .header .btns span.edit {
  margin-right: 5px;
}
.Projects .items {
  padding: 0.5rem;
}
/* Проект */
.Project {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}
.Project .name {
  color: #eccbcb;
  cursor: pointer;
  word-break: break-all;
}
.Project .btns {
  display: flex;
  align-items: center;
}
.Project .btns .total-todos {
  position: absolute;
  right: 0;
  color: #fcfcfc;
  background-color: #c76161;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
.Project .btns .edit-delete span {
  color: #fcfcfc;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  transition: background 300ms ease-in-out;
}
.Project .btns .edit-delete span.edit:hover {
  background: #73b973;
}
.Project .btns .edit-delete span.delete:hover {
  background: #ffacac;
}
